In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Flin Flon,CA,2021-04-01 00:26:51,54.7682,-101.8650,33.80,55,75,16.11
1,1,Mataura,NZ,2021-04-01 00:26:51,-46.1927,168.8643,60.01,74,51,3.00
2,2,Kruisfontein,ZA,2021-04-01 00:26:51,-34.0033,24.7314,64.99,74,54,1.99
3,3,Albany,US,2021-04-01 00:26:51,42.6001,-73.9662,57.00,72,100,1.01
4,4,Qaanaaq,GL,2021-04-01 00:26:52,77.4840,-69.3632,0.39,76,100,15.64

In [3]:
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4
                                )
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4
                                )
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4
                                )
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind_speed, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4
                                )
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hilo,US,2021-04-01 00:23:22,19.7297,-155.0900,78.80,61,40,9.22
8,8,Hobart,AU,2021-04-01 00:23:15,-42.8794,147.3294,75.20,33,0,11.50
14,14,New Norfolk,AU,2021-04-01 00:26:54,-42.7826,147.0587,75.00,32,100,7.00
18,18,Bengkulu,ID,2021-04-01 00:26:56,-3.8004,102.2655,76.59,76,100,12.10
19,19,San Policarpo,PH,2021-04-01 00:26:56,12.1791,125.5072,81.59,73,100,11.83
20,20,Rikitea,PF,2021-04-01 00:26:56,-23.1203,-134.9692,78.69,71,38,15.37
21,21,Les Cayes,HT,2021-04-01 00:26:57,18.2000,-73.7500,77.02,80,26,6.40
23,23,Atuona,PF,2021-04-01 00:23:51,-9.8000,-139.0333,80.29,78,67,12.84
24,24,Sambava,MG,2021-04-01 00:26:18,-14.2667,50.1667,76.26,89,81,8.77
25,25,Saint-Philippe,RE,2021-04-01 00:26:58,-21.3585,55.7679,77.00,78,0,5.75

In [12]:
preferred_cities_df.isnull().sum()

City ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']=""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5             Hilo      US     78.80  19.7297 -155.0900
8           Hobart      AU     75.20 -42.8794  147.3294
14     New Norfolk      AU     75.00 -42.7826  147.0587
18        Bengkulu      ID     76.59  -3.8004  102.2655
19   San Policarpo      PH     81.59  12.1791  125.5072
20         Rikitea      PF     78.69 -23.1203 -134.9692
21       Les Cayes      HT     77.02  18.2000  -73.7500
23          Atuona      PF     80.29  -9.8000 -139.0333
24         Sambava      MG     76.26 -14.2667   50.1667
25  Saint-Philippe      RE     77.00 -21.3585   55.7679

In [14]:
#set parameters to search for a hotel
params = {"radius": 5000,
         "type": "lodging",
         "key": g_key
         }

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    #get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]["name"]
    except:
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [18]:
hotel_df.head(11)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Hobart,AU,75.20,-42.8794,147.3294,Mantra on Collins Hobart
14,New Norfolk,AU,75.00,-42.7826,147.0587,The Shingles Riverside Cottages
18,Bengkulu,ID,76.59,-3.8004,102.2655,Grage Hotel Bengkulu
19,San Policarpo,PH,81.59,12.1791,125.5072,JM Lodge
20,Rikitea,PF,78.69,-23.1203,-134.9692,Pension Maro'i
21,Les Cayes,HT,77.02,18.2000,-73.7500,Villa Orphee
23,Atuona,PF,80.29,-9.8000,-139.0333,Villa Enata
24,Sambava,MG,76.26,-14.2667,50.1667,Melrose
25,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
33,Port Hedland,AU,87.80,-20.3167,118.5667,The Esplanade Hotel

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']

fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                weights=max_temp,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
hotel_info = [info_box_template.format(**row) for index,row in hotel_df.iterrows()]