## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.reset_index()
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Fillmore,US,75.20,clear sky,43.6666,-92.1002,Country Trails Inn & Suites
1,3,Avarua,CK,82.40,light rain,-21.2078,-159.7750,Paradise Inn
2,8,Saint-Pierre,RE,78.80,clear sky,-21.3393,55.4781,Lindsey Hôtel
3,11,Rikitea,PF,76.98,light rain,-23.1203,-134.9692,Pension Maro'i
4,12,Maumere,ID,78.26,heavy intensity rain,-8.6199,122.2111,Sylvia Hotel

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
trip_to_India_df = vacation_df.loc[(vacation_df['Country']=='IN')]
trip_to_India_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
40,130,Kavaratti,IN,82.36,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
105,359,Kabrai,IN,83.70,clear sky,25.4167,80.0167,Bharat concrete Udyog
113,380,Veraval,IN,78.60,clear sky,20.9000,70.3667,Lords Inn Somnath
146,483,Shirwal,IN,75.78,few clouds,18.1333,73.9833,HOTEL PRIYANKA BAR AND LODGING
178,562,Dwarka,IN,80.10,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
179,563,Musafirkhana,IN,79.16,clear sky,26.3667,81.8000,Hari om rasoi
193,603,Rapar,IN,82.26,clear sky,23.5667,70.6333,Dharamshi Bapa’s Home
196,611,Jodhpur,IN,85.44,clear sky,26.2867,73.0300,"Umaid Bhawan Palace, Jodhpur"
200,638,Alappuzha,IN,81.46,broken clouds,9.4900,76.3264,Panoramic Sea Resort
203,646,Manjeshwar,IN,82.40,scattered clouds,12.7194,74.8861,Baithul Hidaya
205,650,Renigunta,IN,80.94,broken clouds,13.6500,79.5167,Appanna Rest House
208,654,Kottagudem,IN,82.99,clear sky,17.5500,80.6333,Hotel Surya Palace
212,663,Allahganj,IN,80.60,overcast clouds,27.5500,79.6833,Rajesh TVS Motors

In [59]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = trip_to_India_df.loc[vacation_df['City']=='Renigunta']
vacation_end = trip_to_India_df.loc[vacation_df['City']=='Renigunta']
vacation_stop1 = trip_to_India_df.loc[vacation_df['City']=='Alappuzha']
vacation_stop2 = trip_to_India_df.loc[vacation_df['City']=='Manjeshwar']
vacation_stop3 = trip_to_India_df.loc[vacation_df['City']=='Kottagudem']

In [72]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (13.65, 79.5167), End: (13.65, 79.5167)
Stop 1: (9.49, 76.3264), Stop 2: (12.7194, 74.8861), Stop 3: (17.55, 80.6333)

In [73]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
trip_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(trip_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,650,Renigunta,IN,80.94,broken clouds,13.6500,79.5167,Appanna Rest House
1,638,Alappuzha,IN,81.46,broken clouds,9.4900,76.3264,Panoramic Sea Resort
2,646,Manjeshwar,IN,82.40,scattered clouds,12.7194,74.8861,Baithul Hidaya
3,654,Kottagudem,IN,82.99,clear sky,17.5500,80.6333,Hotel Surya Palace
4,650,Renigunta,IN,80.94,broken clouds,13.6500,79.5167,Appanna Rest House

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map.
stops_list = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=stops_list)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))